### ì§ë°© ì„œë¹„ìŠ¤ ì›ë£¸ ë°ì´í„° ìˆ˜ì§‘
- ë³µì¡í•œ ë°ì´í„° ìˆ˜ì§‘ ë°©ë²•
- ë™ì´ë¦„ > ë§¤ë¬¼ ì •ë³´(ë°ì´í„° í”„ë ˆì„)

- ì ˆì°¨
    - ë™ì´ë¦„ > ìœ„ë„, ê²½ë„
    - ìœ„ë„, ê²½ë„ > geohash code(ì§€ì—­ ë²”ìœ„)
    - geohash > ë§¤ë¬¼ ì•„ì´ë””
    - ë§¤ë¬¼ ì•„ì´ë”” > ë§¤ë¬¼ ì •ë³´
    
- "https://meyerweb.com/eric/tools/dencoder/" í•œê¸€ ì½”ë“œ ë³€í™˜

In [5]:
import pandas as pd
import requests

In [1]:
# 1. ë™ì´ë¦„ > ìœ„ë„, ê²½ë„

In [17]:
query = 'ì£¼ë¡€3ë™'
url = f'https://apis.zigbang.com/v2/search?leaseYn=N&q={query}&serviceType=ì›ë£¸'
response = requests.get(url)
datas = response.json()['items'][0]
lat, lng = datas['lat'], datas['lng']
lat, lng

(35.147342681884766, 129.0013885498047)

In [2]:
# 2.ìœ„ë„, ê²½ë„ > geohash code(ì§€ì—­ ë²”ìœ„)

In [38]:
#!pip install geohash2

In [19]:
import geohash2

In [26]:
code = geohash2.encode(lat,lng, precision = 5) #precisionì€ ì˜ì—­ ì˜ë¯¸, ê°’ì´ ì»¤ì§ˆìˆ˜ë¡ ì˜ì—­ì´ ì‘ì•„ì§
code

'wy5xz'

In [3]:
# 3. geohash > ë§¤ë¬¼ ì•„ì´ë””

In [27]:
url = f'https://apis.zigbang.com/v2/items?deposit_gteq=0&domain=zigbang&geohash={code}&needHasNoFiltered=true&rent_gteq=0&sales_type_in=ì „ì„¸|ì›”ì„¸&service_type_eq=ì›ë£¸'
response = requests.get(url)
response

In [33]:
datas=response.json()['items']
datas[:3]

[{'lat': 35.11299030626697, 'lng': 129.01556426763474, 'item_id': 30441509},
 {'lat': 35.11346566420205, 'lng': 129.01688571315356, 'item_id': 30698305},
 {'lat': 35.11348831945383, 'lng': 129.01639097551072, 'item_id': 30560779}]

In [34]:
ids = []
for data in datas :
    ids.append(data['item_id'])
ids[:5]

[30441509, 30698305, 30560779, 30698228, 30161435]

In [37]:
# list comprehention
ids = [data["item_id"] for data in datas]
ids[:3]

# result = [data**2 for data in range(10) if data % 2]
# result

[30441509, 30698305, 30560779]

In [4]:
# 4. ë§¤ë¬¼ ì•„ì´ë”” > ë§¤ë¬¼ ì •ë³´

In [39]:
ids[:3]

[30441509, 30698305, 30560779]

In [41]:
url = 'https://apis.zigbang.com/v2/items/list'
params  = {"domain" : 'zigbang',
          "withCoalition" : 'true',
          "item_ids" : ids,}
response = requests.post(url, params)
response

In [44]:
items=response.json()['items']
item_df = pd.DataFrame(items)
item_df.head()

,section_type,item_id,images_thumbnail,sales_type,sales_title,deposit,rent,size_m2,ê³µê¸‰ë©´ì,ì „ìš©ë©´ì,...,is_zzim,status,service_type,tags,address1,address2,address3,manage_cost,reg_date,is_new
0,None,30441509,https://ic.zigbang.com/ic/items/30441509/1.jpg,ì›”ì„¸,ì›”ì„¸,2000,30,22.46,"{'m2': 22.46, 'p': '6.8'}","{'m2': 22.46, 'p': '6.8'}",...,False,True,ì›ë£¸,[ì¶”ì²œ],ë¶€ì‚°ì‹œ ì„œêµ¬ ì„œëŒ€ì‹ ë™3ê°€,None,None,10,2022-02-07T16:03:04+09:00,False
1,None,30698305,https://ic.zigbang.com/ic/items/30698305/1.jpg,ì „ì„¸,ì „ì„¸,5000,0,19.24,"{'m2': 19.24, 'p': '5.8'}","{'m2': 19.24, 'p': '5.8'}",...,False,True,ì›ë£¸,[ì¶”ì²œ],ë¶€ì‚°ì‹œ ì„œêµ¬ ë™ëŒ€ì‹ ë™3ê°€,None,None,6,2022-02-18T17:03:03+09:00,False
2,None,30560779,https://ic.zigbang.com/ic/items/30560779/1.jpg,ì›”ì„¸,ì›”ì„¸,100,30,23.14,"{'m2': 23.14, 'p': '7'}","{'m2': 23.14, 'p': '7'}",...,False,True,ì›ë£¸,[ì¶”ì²œ],ë¶€ì‚°ì‹œ ì„œêµ¬ ë™ëŒ€ì‹ ë™3ê°€,None,None,7,2022-02-09T16:31:39+09:00,False
3,None,30698228,https://ic.zigbang.com/ic/items/30698228/1.jpg,ì›”ì„¸,ì›”ì„¸,200,26,12.97,"{'m2': 12.97, 'p': '3.9'}","{'m2': 12.97, 'p': '3.9'}",...,False,True,ì›ë£¸,[ì¶”ì²œ],ë¶€ì‚°ì‹œ ì„œêµ¬ ë™ëŒ€ì‹ ë™3ê°€,None,None,7,2022-02-18T17:01:01+09:00,False
4,None,30161435,https://ic.zigbang.com/ic/items/30161435/1.jpg,ì›”ì„¸,ì›”ì„¸,500,25,17.97,"{'m2': 17.97, 'p': '5.4'}","{'m2': 12.52, 'p': '3.8'}",...,False,True,ì˜¤í”¼ìŠ¤í…”,[],ë¶€ì‚°ì‹œ ì„œêµ¬ ë™ëŒ€ì‹ ë™3ê°€,None,None,5,2022-01-27T12:47:16+09:00,False

In [48]:
pd.options.display.max_columns = 30

In [62]:
columns = ['item_id', 'sales_title', 'deposit', 'rent', 'size_m2', 'floor', 
           'building_floor', 'title', 'room_type', 'address', 'is_new']
result_df = item_df[columns]
result_df = result_df[result_df['address'].str.contains('ì‚¬ìƒêµ¬')]
result_df = result_df[(result_df['deposit'] <= 500)]

result_df

,item_id,sales_title,deposit,rent,size_m2,floor,building_floor,title,room_type,address,is_new
51,30598973,ì›”ì„¸,500,45,46.281,3,6,â­•í•™ì¥ë™ ì›ë£¸ AKë¹Œë”©Híƒ€ì…â­•,01,ì‚¬ìƒêµ¬ í•™ì¥ë™,False
52,30530654,ì›”ì„¸,300,26,19.830,3,4,â­â­ì‹ ì¶• í’€ì˜µì…˜â­â­ë³´ì¦ê¸ˆì¡°ì ˆê°€ëŠ¥,01,ì‚¬ìƒêµ¬ ì£¼ë¡€ë™,False
53,30729714,ì›”ì„¸,200,26,19.220,2,5,"ğŸ’›ê°€ì„±ë¹„ìµœê³ ì›ë£¸ğŸ’›ë™ì„œ,ê²½ì •ëŒ€ ë°”ë¡œ ë°‘ ì‹ ì¶• 100%ğŸŒŠ",01,ì‚¬ìƒêµ¬ ì£¼ë¡€ë™,True
54,30729767,ì›”ì„¸,300,25,25.780,3,5,"ğŸ§¡ë™ì„œ,ê²½ì • í•˜ë‚˜ë‚¨ì€ í˜¸ì‹¤ğŸ˜ì‹ ì¶•100%",01,ì‚¬ìƒêµ¬ ì£¼ë¡€ë™,True
55,30715694,ì›”ì„¸,300,22,9.920,2,5,ğŸš©í’€ ì˜µì…˜ğŸš©ì‹¤ì‚¬ğŸš©ë™ì„œëŒ€ 1ë¶„ ê±°ë¦¬ ğŸš©,01,ì‚¬ìƒêµ¬ ì£¼ë¡€ë™,True
...,...,...,...,...,...,...,...,...,...,...,...
315,30507810,ì›”ì„¸,500,44,33.900,ê³,9,sâ™¥í†µí°â™¥ì„¤ë ˜â™¥NEWâ™¥ìœ ì¾Œâ™¥íƒ„íƒ„ë¶™ë°•ì´â™¥í™”ì´íŠ¸â™¥í™”ì‚¬â™¥ë„‰ë„‰ì—¬ìœ,01,ì‚¬ìƒêµ¬ ì£¼ë¡€ë™,False
316,30621341,ì›”ì„¸,500,42,42.690,ê³,9,ğŸ€ë³´ì¦ê¸ˆì¡°ì ˆê°€ëŠ¥ ğŸ€ì£¼ë¡€ëƒ‰ì •1ë“± ğŸ€ì‹ ì¶•1ë…„ì°¨,01,ì‚¬ìƒêµ¬ ì£¼ë¡€ë™,False
317,29647955,ì›”ì„¸,100,15,16.530,1,3,â™‹ë°©í¬ê³ ë‹¤ë½ë„ ìˆëŠ”ì›ë£¸â™‹ì‹¼ë°©ì „ë¬¸ê°€â™‹ê°€ì„±ë¹„ç”²â™‹,01,ì‚¬ìƒêµ¬ ì£¼ë¡€ë™,True
318,30552312,ì›”ì„¸,500,40,40.310,ê³,9,ğŸ€ë„“ì€ì›ë£¸ ğŸ€ë³´ì¦ê¸ˆì¡°ì ˆ ğŸ€ì‹ ì¶•1ë…„ì°¨,01,ì‚¬ìƒêµ¬ ì£¼ë¡€ë™,False
319,30687629,ì›”ì„¸,500,35,34.620,ê³,9,ğŸ€í—ˆìœ„X ğŸ€ë³´ì¦ê¸ˆì¡°ì ˆ ğŸ€ì‹ ì¶•1ë…„ì°¨,01,ì‚¬ìƒêµ¬ ì£¼ë¡€ë™,False

In [ ]:
#ë³´ì¦ê¸ˆ 1ì–µ ì´í•˜, ì›”ì„¸ 100ë§Œì› ì´í•˜

In [68]:
def oneroom(address) :
    url = f'https://apis.zigbang.com/v2/search?leaseYn=N&q={address}&serviceType=ì›ë£¸'
    response = requests.get(url)
    datas = response.json()['items'][0]
    lat, lng = datas['lat'], datas['lng']
    code = geohash2.encode(lat,lng, precision = 5)
    url = f'https://apis.zigbang.com/v2/items?deposit_gteq=0&domain=zigbang&geohash={code}&needHasNoFiltered=true&rent_gteq=0&sales_type_in=ì „ì„¸|ì›”ì„¸&service_type_eq=ì›ë£¸'
    response = requests.get(url)
    datas = response.json()['items']
    ids = [data["item_id"] for data in datas]
    url = 'https://apis.zigbang.com/v2/items/list'
    params  = {"domain" : 'zigbang',
          "withCoalition" : 'true',
          "item_ids" : ids,}
    response = requests.post(url, params)
    items=response.json()['items']
    columns = ['item_id', 'sales_title', 'deposit', 'rent', 'size_m2', 'floor', 
           'building_floor', 'title', 'room_type', 'address', 'is_new']
    item_df = pd.DataFrame(items)
    result_df = item_df[columns]
    result_df = result_df[result_df['address'].str.contains('ì‚¬ìƒêµ¬')]
    return result_df

oneroom('ì‚¬ìƒêµ¬')

,item_id,sales_title,deposit,rent,size_m2,floor,building_floor,title,room_type,address,is_new
51,30598973,ì›”ì„¸,500,45,46.281,3,6,â­•í•™ì¥ë™ ì›ë£¸ AKë¹Œë”©Híƒ€ì…â­•,01,ì‚¬ìƒêµ¬ í•™ì¥ë™,False
52,30530654,ì›”ì„¸,300,26,19.830,3,4,â­â­ì‹ ì¶• í’€ì˜µì…˜â­â­ë³´ì¦ê¸ˆì¡°ì ˆê°€ëŠ¥,01,ì‚¬ìƒêµ¬ ì£¼ë¡€ë™,False
53,30729714,ì›”ì„¸,200,26,19.220,2,5,"ğŸ’›ê°€ì„±ë¹„ìµœê³ ì›ë£¸ğŸ’›ë™ì„œ,ê²½ì •ëŒ€ ë°”ë¡œ ë°‘ ì‹ ì¶• 100%ğŸŒŠ",01,ì‚¬ìƒêµ¬ ì£¼ë¡€ë™,True
54,30729767,ì›”ì„¸,300,25,25.780,3,5,"ğŸ§¡ë™ì„œ,ê²½ì • í•˜ë‚˜ë‚¨ì€ í˜¸ì‹¤ğŸ˜ì‹ ì¶•100%",01,ì‚¬ìƒêµ¬ ì£¼ë¡€ë™,True
55,30715694,ì›”ì„¸,300,22,9.920,2,5,ğŸš©í’€ ì˜µì…˜ğŸš©ì‹¤ì‚¬ğŸš©ë™ì„œëŒ€ 1ë¶„ ê±°ë¦¬ ğŸš©,01,ì‚¬ìƒêµ¬ ì£¼ë¡€ë™,True
...,...,...,...,...,...,...,...,...,...,...,...
316,30621341,ì›”ì„¸,500,42,42.690,ê³,9,ğŸ€ë³´ì¦ê¸ˆì¡°ì ˆê°€ëŠ¥ ğŸ€ì£¼ë¡€ëƒ‰ì •1ë“± ğŸ€ì‹ ì¶•1ë…„ì°¨,01,ì‚¬ìƒêµ¬ ì£¼ë¡€ë™,False
317,29647955,ì›”ì„¸,100,15,16.530,1,3,â™‹ë°©í¬ê³ ë‹¤ë½ë„ ìˆëŠ”ì›ë£¸â™‹ì‹¼ë°©ì „ë¬¸ê°€â™‹ê°€ì„±ë¹„ç”²â™‹,01,ì‚¬ìƒêµ¬ ì£¼ë¡€ë™,True
318,30552312,ì›”ì„¸,500,40,40.310,ê³,9,ğŸ€ë„“ì€ì›ë£¸ ğŸ€ë³´ì¦ê¸ˆì¡°ì ˆ ğŸ€ì‹ ì¶•1ë…„ì°¨,01,ì‚¬ìƒêµ¬ ì£¼ë¡€ë™,False
319,30687629,ì›”ì„¸,500,35,34.620,ê³,9,ğŸ€í—ˆìœ„X ğŸ€ë³´ì¦ê¸ˆì¡°ì ˆ ğŸ€ì‹ ì¶•1ë…„ì°¨,01,ì‚¬ìƒêµ¬ ì£¼ë¡€ë™,False
335,30391685,ì „ì„¸,2000,0,15.000,1,2,ì˜¨ê³¨ë§ˆì„ ì €ë ´í•œ ì›ë£¸ ì…ë‹ˆë‹¤,02,ì‚¬ìƒêµ¬ ì£¼ë¡€ë™,False